.App {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html {
  font-size: 10px;
  color: black;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: normal;
}

h1 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.3rem;
  margin-bottom: 2.3rem;
}

.wrapper {
  padding-left: 14%;
  padding-right: 11.1%;
}

.flex-center_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center_start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: start;
}

.nav__block_mob {
  display: none;
}

@media (max-width: 1550px) {
  .wrapper {
    padding-left: 11%;
  }
}

@media (max-width: 1430px) {
  .wrapper {
    padding-left: 8%;
    padding-right: 6.8%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1020px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2.4rem;
  }

  .nav__block_mob {
    display: block;
    background-color: #547966;
  }
}